@import '~font-awesome/css/font-awesome.css';


$font-stack:    Helvetica, sans-serif;
$primary-color: #9fc104;
$primary-color-darker: #90ab16;
$blue-color-darker:#e3ebef;

$nav-bar-dark:#789008;
$nav-bar-darker:#5a6d04;

$menu-bg:#8ca821;
$menu-bg-stroke:#789008;

$secondary-color: #ff9e19;
$secondary-color-dark: #f59717;
$primary-btn-color: $secondary-color;
$primary-btn-color-hover: $secondary-color-dark;


@mixin icon-md{
  width:19px;
  height:19px;
}

@mixin width-dark-blue-bg {
  background-color: $blue-color-darker;
  padding: 30px;
  border-radius: 0;
}


@mixin justify-content-left {
  display: flex;
  justify-content: flex-end;
}

@mixin justify-content-right {
  display: flex;
  justify-content: flex-start;
}

@mixin justify-content-center {
  display: flex;
  justify-content: center;
}

@mixin justify-content-center-center {
  position: absolute;
  margin: auto;
  top: 0;
  z-index: 303;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
}

@mixin col-padding-left-0{
  padding-left:0;
}
@mixin col-padding-left-0{
  padding-left:0;
}

html, 
body {

    background-color: #f8f9fa;
    color: #454e48;
    -webkit-font-smoothing: antialiased;

}

#main-content{
// border:1px solid red;
}

html,body,#app,.fit-page-to-Screen,.home-page,.not-home-page,.fit-page-to-screen-overflow-hidden {
  height: 100%;
  margin: 0;
  width:100%;
}

.fit-page-to-screen-overflow-hidden{
  overflow: hidden;
}
.fit-page-to-Screen{
  min-height: 100%;
  margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}

.show-backGround-img{
  background-image: url("../images/bg.svg")!important;
  background-repeat:no-repeat;
  @media screen and (max-width:768px){
    background-position:43% bottom;
  }
  background-position:50% bottom;
}

.fit-page-to-Screen{
  height: auto !important;
}

.content-container {

  height: auto !important;
  height: 100%;
}

  /*footer*/

  footer.footer {
    margin-top: 46px;
    background-color: #26272b;
    height: 70px; /* .push must be the same height as .footer */
    color: #808288;
        position: relative;
    .heading{
      font-size:14px;
    }
    .renderCommnts,.joinConvo,.offers-top{
          border-top: 1px solid #e7eef1;
          padding:20px 0;
          width: 100%;
    }
      .container{
        @include justify-content-center-center;
        height:30px;
        p {
          margin:0;
        }
      }
  }

//buttons
.btn-primary {
  color: #fff;
  background-color: $primary-btn-color;
  border-color: $primary-btn-color;
}
.btn-primary:hover {
  color: #fff;
  background-color: $primary-btn-color-hover;
  border-color: $primary-btn-color-hover;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $secondary-color; 
  border-color: $secondary-color; 
}


//requestst

.scrollable-content,.request-box-details {
  overflow: auto;
}

.intro {
  margin-top: 100px;
  @media screen and (max-width:991px){
    margin-top: 0;
    }
    .form-footer{
      justify-content: left;
      margin-top: 40px;
    }
}


.intro-3 {
  
  @media screen and (max-width:991px){
    margin-bottom: 30px;
    }
}
//comments

.joinConvo{
  width:100%;
  .join-convo-image-wrapper {
    margin: 10px 0 30px;
  }
}
.form-container-width-btn-inside{
  .btn-outline-secondary{
    border: 1px solid #ced4da;
  }
  
  display: block;
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 15px 0;
  label {
    display: none;
  }
  .form-control {
    border: none;
  }
  .form-control:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
  }
  
.btn {
  margin: 0.375rem 0.75rem;
}
}



  
.wrapper {
    background: linear-gradient(to right, #e67e22, #e74c3c);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* utilities*/
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff9e19;
    outline: 0;
    box-shadow:none; 
}

  ::-webkit-input-placeholder {
   color:transparent;
}

:-moz-placeholder { /* Firefox 18- */
   color:transparent; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color:transparent; 
}

:-ms-input-placeholder {  
   color:transparent;
}

.welcome {
    font-size: 121%;
}

.orange-font {
    color: #ff9e19;
    font-weight: 500;
}
.backButtonholder{
  display: none;
  position: fixed;
  z-index: 5734573457457345;
  right: 0;
  left: 0;
  margin: auto;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 147, 25, 0.5);
  border-radius: 50px;
    .btn {
      background-color: transparent;
      border: none;
      padding: 0;
      height: 50px;
      img{
          width:30px;
          @include justify-content-center-center
      }
  }
}

  input{
    /*background: url("../images/bg_input.jpg") repeat-x scroll 0 0 #fff;*/
    height: 45px;
  }

  #arrow{
    width:20px;
  }

  .arrow-down{
    transform: rotate(0deg);
    transition: transform .3s linear;
  }
  
  .arrow-up{
    transform: rotate(180deg);
    transition: transform .3s linear;
    width:20px;
  }

.btn {
    position: relative;
    padding: 0.555rem 0.75rem;
    font-weight: 500;
}
  .tiny-text {
    font-size: 80%;
}

  .col-max-width-fifty{
    @media screen and (min-width:576px){
    max-width: 44px!important;
    }
   }

 .comments-span-top {
    border-top: 1px dotted#e7eef1;
    margin-top: 5px;
    display: block;
  }
  .spinner-in-btn{
    height: 18px;
  }
  img.accepted-offer-tick{
  @include icon-md;
  }
  .btn-img{
    padding-top: 0;
    position: relative;
    img{
      @include icon-md;
    }
  } 
  .separator{
    margin: 7px 0;
  }

.star{
  width:20px;
  height:20px;
  display: inline-block;
  img{
    width:20px;  
  }
}

.btn.no-text-wrap {
    white-space: normal;
  }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
}

h2, .h2 {
  font-size: 1.875rem;
}

.fa-right {
    margin-right: 6px;
}

.btn {
  border-radius: 0;
}

.btn-with-spinner {
  min-height: 40px;
}

.form-control {
  border-radius: 0;
}


 
h1.title-page {
    margin: 0 0 1em;
    @media screen and (max-width:400px){
 margin: 0 0 .5em;
    }
    font-size: 1.875em!important;
    font-weight: 400;
}

.help-block {
    color: #ff9e19;
    padding: 1px 0 1px 0px;
}


.container.alert-success{
  max-width: 100%;
  margin:0;
  padding:0;
  width: 100%;
}

.alert {
 margin-bottom: 0; 
}

.loader-show{
  width: 100%;
  height: 100%;
  @include justify-content-center-center;
} 
.loader-hide{
  width: 1px!important;
  height: 1px!important;
  left: -60px!important;
  display: none!important;
} 
.spinner{
  @include justify-content-center-center;
}


help-block {
  color: orange;
}


/*Header*/
.header {
  background-color: $primary-color;
  @media screen and (min-width:767px){

   }
   .navbar-light .navbar-toggler {
    border-color: $nav-bar-darker;
   }

   .navbar .nav-link {
    @media screen and (max-width:992px) {
      padding: 1rem 1rem;
    }

    }

   .navbar-brand {
    padding-top: 0.7125rem;
   }
  .navbar {
      @media screen and (min-width:767px){
        padding: 0 1rem;
      }
      .navbar .nav-link {
          padding: 1.6rem 1rem;
          @media screen and (min-width:767px){
            padding: 0 1rem;
          }
      }   
      .navbar-text {
          @media screen and (min-width:767px){
            padding-top: 0;
            padding-bottom: 0;
        }   
      }
      .nav-link {
        @media screen and (min-width:992px){
          padding: 1.3rem 1rem;
          font-size: 115%;

        }
    }
    .navbar-collapse {     
      @media screen and (min-width:767px){
        align-items: stretch;
      }
    }
  }

  .navbar-light .nav-item{
    border:1px solid transparent;

    @media screen and (max-width:991px) {
      background-color: #a8cc08;
      border: 1px solid #99b904;
      margin: 2px 0;
      }
      .dropdown-menu{
        li{
          border: 1px solid transparent;
        }
      }

  }
    .navbar-light .navbar-nav .nav-link,
    .navbar-light .nav-item a {
      color:white;
      @media screen and (max-width:991px){
        color:white;
      }     
    }

  .nav-item .only-small-screen .dropdown-menu{
    padding:0;
    margin:0;
  }


  .nav-pills .show > .nav-link {
    background-color: transparent;
  }
  .dropdown-menu {
    top: 68px;
    border-radius: 0;
    border:none;
    background-color: #9fc104;
    .dropdown-item {
      background-color: transparent!important;
      color:white!important;
    }
    .dropdown-item:hover,.dropdown-item:active {
      color: #3a3d3e!important;
    }


  }
  .navbar-right{
    .navbar .dropdown-item:hover, .navbar .dropdown-item:focus {
      background-color: transparent;
      color: #3a3d3e;
    }
  }

  
.logo-span {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 1px solid #85a00a;
  border-radius: 30px;
  position: relative;
  background-color: #ecfaac;
  position: relative;
  img{
    @include  justify-content-center-center;
    height: 39px;    
  }
}
.nav-image-icon-mobile {
  @media screen and (min-width:992px){
   display:none!important;
  }
}

  .nav-image-icon {
    height: 12px;
    width: 18px;
    display: inline-block;
    position: relative;
    margin-right: 8px;
     width: 22px;
    img{
      @include  justify-content-center-center;
        width: 22px;
    }
    .navbar-right{

      li.user-profile{
        background-color: #ff9e19;
        border: 1px solid #a9c81e;
      }
    }
    }

}

.navbar{

  .navbar-right {
    > li  {
      margin-right:15px;
    }
    li{
      padding-top: 13px;
      .nav-link{
        padding: .4rem 1rem;
        border: 1px solid $menu-bg-stroke;
      }
      .nav-link:hover , .nav-link:active{
        background-color: $menu-bg;
      }
    } 

    .nav-item.active,
    .nav-item:hover{
      background-color: transparent;
      border: 1px solid transparent;
    }
    
    .nav-item.active a,
    .nav-item:hover a{
      background-color: $menu-bg;
    }
  }

  //padding:0;
  .nav-item.active,
  .nav-item:hover{
    background-color: $menu-bg;
    border: 1px solid $menu-bg-stroke;

    a{
    @media screen and (max-width:992px){
      color: white;
     }
    }
  }



.dropdown-item:active,
.dropdown-item:hover,
 .dropdown-item:focus
{
  background-color: transparent;
  color:white!important;
}

  .nav-link {
    padding: 0.7rem 1rem;
    @media screen and (max-width:991px){
      font-size: 115%;
    }
  }

  .only-mobile{
    @media screen and (min-width:991px){
      display:none;
    }
  }
  .navbar-right{
    @media screen and (max-width:991px){
      display:none;
    }
  }
  .only-big-screen{
    .dropdown-item:hover, .dropdown-item:focus {
      color: #16181b;
  }
  }

  .only-small-screen.nav-item{
    @media screen and (min-width:992px){
      display:none;
    }
  }
  .only-small-screen.nav-item.show{

        @media screen and (max-width:991px){
        background-color: #a8cc08!important;
        a{
          background-color: #8ca821;
        }

        li.nav-item:hover,li.nav-item:focus{
          background-color: #8ca821;
        }
      }
      .dropdown-menu {
        background-color: transparent;
        border: none;
        color:white;
      }
  }
}




  .hide{
    display:none;
  }

  .show{
    display:block;
  }
  .show-inline-block{
    display:inline-block;
     }

  .spacer5 {
    height: 15px;
  }



  .accord.btn {
    text-align: left;
  }

  
  .main {
    height: 90vh;
    background: #fff;
    box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
    width: 80%;
    margin: 0 auto;
  }
  
  .title-container {
    height: 90vh;
    background: url("../images/bg.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
  }
  
  .title-container__title {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 1.3;

  }
  
  .title-container__subtitle {
    font-style: italic;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.5;
   
  }
  
  .form-container {
    background-color: #2c3e50;
    height: 90vh;
    padding-top: 100px;
    padding-left: 50px;
  }

  input,select,textarea{
    width:100%;
  }


/*sing up*/
.sign-up{
  @include width-dark-blue-bg;
}

/*phone validation*/

.iti-flag {background-image: url("/src/images/flags/flags.png");}

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min--moz-device-pixel-ratio: 2), 
only screen and (-o-min-device-pixel-ratio: 2 / 1), 
only screen and (min-device-pixel-ratio: 2), 
only screen and (min-resolution: 192dpi), 
only screen and (min-resolution: 2dppx) {
  .iti-flag {background-image: url("/src/images/flags/flags@2x.png");}
}




 /* requests*/
 .requests{
   .requests-small{
     @media screen and (min-height:768px){
      //height:500px;
     }
    
   }

   .request-box.card {
    cursor: pointer;
    box-shadow: 3px 5px 8px rgba(202,215,220,.6);
   }

   .request-box.card:hover {
    box-shadow: 3px 5px 8px rgba(202,215,220,.7);
   }


  .request-box{
    border: 1px solid #dee8ec;
    margin-bottom: 10px;
    padding-top: 15px;
    border-radius: 3px;
    padding-bottom: 15px;
    border-left: 4px solid #ff9e19;
    background-color: white;
    font-size: 92%;
    .btn.more-details{
      margin-top: 5px;
      display: inline-block;
      width: 20px;
      height: 20px;
      padding: 0;  
    }

  .more-info-btn{
    @include justify-content-right;
  }  

  .content{
    padding-top: 15px;
    margin-top: 30px;
  }
  .title{
      font-size: 17px;
      line-height: 17px;

      margin-bottom: 10px;
    }
    .separator.cardx{
      border-top: 1px solid #dee8ec;
    }

.more-info{
  .heading {
    font-size: 78%;
}
}

.user-image.make-small{
  width: 20px;
}
    .user-image{
      @include justify-content-center-center;
      height: 30px;
      width: 30px;
      left: auto;
      border-radius: 30px;
      overflow: hidden;
      right: 15px !important;
      margin: 0;
      padding:0;
      bottom:auto;
    }
  }
.loader-spinner-container{
    @include justify-content-center-center;
    z-index: 303463462346234;
    width:100%;
    height:100%;
 }




}

.map,.request-box-details{
  /*
  width:100%;
  @media screen and (max-width:991px){
  display: none;
  }
  */
}



@media screen and (max-width:991px){
  .requestsBig,.requestsSmall {
    transition: all 300ms;
      position: absolute;
      top:0;
  }

  .requestsSmall{
    z-index: 10;
  }
  .requestsBig{
    z-index: 9;
  }

  .container.requests{
    overflow-x: hidden;
    position: relative;
  }

    .requestsBigStart{
      left: 100vw;
      z-index: 9;
    }
    .requestsSmallStart{
      left: 0;
      z-index: 10;
    }

    .requestsSmallOut{
      transform: translateX(100vw);
    }
    .requestsBigOut{
      transform: translateX(0);
    }


}


  .request-box.request-box-details{
      border-left: 1px solid #dee8ec;
      @media screen and (min-width:400px){
        padding: 30px;
      }
      .payment-panel {
        .amount {
          font-size: x-large;
          color: #e7eef1;
        }
        .header {
          font-size: 17px;
          background-color: transparent;
          
        }
      }
      .titles{
        font-size:86%;
      }

      .title {
        height: auto;
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;

        margin-bottom: 0;
        font-size: 23px;
        font-weight: 400;
        margin: 23px 0 35px;
        line-height: 35px;
      }
      button{
        width:90%;
      }
      .payment-panel > div {
        padding: 0 10px;
        border-bottom: 1px solid #f1f1f1;
        color: #839094;
        padding: 15px 10px;
      }


      .user-image{
        position: relative;
        left: 0 !important;
        margin-left: 0;
      }
      .icon-image{
          width: 20px;
      }

      .col-padding-left-0{
        @include col-padding-left-0;
      }

      .col-padding-right-0{
        @include col-padding-left-0;   
      }


      .separator div:nth-last-child(1){
        border-top: 1px solid #e7eef1;
      }



      .payment-panel div:last-child {
        height: auto!important;
        border-bottom: none!important;
      }


    .payment-panel {
      border: 1px solid #cad7dc;
      border-radius: 0;
      transform: translateZ(0);
    }

    .request-status{
      color: #839094;
    }

    .task-details-step-bar .step {
      font-weight: 700;
      font-size: 10px;
      text-align: center;
      display: inline-block;
      text-transform: uppercase;
      white-space: nowrap;
      padding: 2px 10px;
      color: #cad7dc;
      letter-spacing: .36px;
    }

    .request-status-bg-color{
      background-color: #daf196;
    }

    .request-status{
      color: #809f24;
      border-radius: 4px;
      display: inline-block;
      padding: 1px 8px;
    }
  }

  .btn-request {
    color: white!important;
    margin-bottom: 15px;
    @include justify-content-center;
}


/* modal*/
.modal{
  .modal-header {
    background-color: $primary-color;
    color: white;
  }
  .modal-body {
    padding-bottom: 2rem;
   }
}


form.form-width-bg {
  @include width-dark-blue-bg;
}
form.request-form > div:first-of-type {
    display: none;
}



.form-footer {
@include justify-content-left;

  > :not(:last-child) {
  margin-right: .25rem;
  }
  > :not(:first-child) {
    margin-left: .25rem;
  }
}

/*forgot password*/
.forgot-pwd,.reset-pwd{
  @include width-dark-blue-bg;
}


/* Profile */

.profile{
    @include width-dark-blue-bg;
    .profile-card {
      h2, .h2 {
        font-size: 1.6rem;
        border-bottom: 1px dotted #89a1ab;
        padding-bottom: 10px;
      }
      .userName{
        font-size: 1.3rem;
        margin-left: 20px;
      }

      span.img {
        width: 20px;
        height: 20px;
        display: inline-block;
        position: relative;
        img{
          position: absolute;
          @include justify-content-center-center;
        }
      }
      button {
        background-color: transparent;
        height: 27px;
        border: none;
    }
 }
}


























  
/* sign in*/
.sign-in{

  .sign-in-links {
    margin-top: 29px;
    border-top: 1px dotted #ced4da;
    padding-top: 6px;
    a {
      padding: 0;
    }
  }

  .sign-in-links-b {
    @media screen and (max-width: 767px) {
    margin-top: 10px;
    border-top: 1px dotted #ced4da;
    }
  }

  .user-find-username,.user-reset-pwd{
    @media screen and (min-width:400px){
      text-align: right;
    }

  }

  @media screen and (min-width: 411px) {

  }
  @media screen and (min-width: 767px) {
    .sign-in-left{
      display: flex; 
      justify-content: flex-end;
      border-right: 1px solid #ced4da;
      padding-right: 30px;
    }
    .sign-in-right {
      padding-left: 30px;
    }

  }

  @media screen and (max-width: 767px) {
    .sign-in-right{
      margin-top:30px;
    }
    .sign-in-links-b {
      margin-top: 10px;
      border-top: 1px dotted #ced4da;
    }
  }

  .nav-link {
      display: block;
      padding: 0.5rem 0;
  }

  element.style {
    margin-top: 10px;
  }

}

  /*carousel*/
.carousel{

  .carousel-inner {
    .carousel-item >div {

      height: 100%;
      width: 100%;
    }
  }
  .carousel-control-prev,.carousel-control-next{
      display: none;
  }

  .carousel-indicators {
    top:0;
    display:none;
    li {
      text-indent:0;
      width:200px;
      height: 40px;
      border:none;
      background-color: transparent;
     
     }
    }
}



  .carousel-indicators.custom  {
    top: 0;
    position: relative;
    bottom: 0;
    margin: 0;
    justify-content: flex-end;
    li {
      text-indent:0;
      width:auto;
      height: 40px;
      border:none;
      background-color: transparent;
      cursor: pointer;
      display: inline-block;
     }
     img{
       width:20px;
     }
     img.edit-img{
      padding-top: 11px;
    }
    img.profile-img{
      padding-top: 6px;
    }
    }